@charset "utf-8";


#toppage {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	width: 760px;
}

#entrypage {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	width: 760px;
}

#page {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	width: 760px;
}


#toppage #header {
	/*削除 04_02
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/top_norepeat_bk.gif);
	*/
	
	/* 追加 04_02 */
	margin: 0 0 0 0;
	padding: 7px 0 15px 11px;
	background-image: url(../images/page_title_bk.gif);
	/* 追加 04_02 */
	background-repeat: repeat-y;
	background-position: 0 0;
}

#entrypage #header {
	margin: 0 0 0 0;
	padding: 7px 0 15px 11px;
	background-image: url(../images/page_title_bk.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
}

#intro {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	background-image: url(../images/top_main_img.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#main {
	position: relative;
	background-color: #eeeeee;
	margin: 0 0 0 0;
	padding: 10px 0 20px 20px;
	background-image: url(../images/page_footer.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#sideArea1{
	/* 追加 04_02 */
	width: 170px;
	float: left;
	/* 追加 04_02 */
}

#contents {
	/* 変更 04_02 */
	width: 550px;
	float: left;
	/* 変更 04_02 */
}



#footer {

}

/* 追加 04_02 */
/*  clearfix  */
.clearfix:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.clearfix {
    display: inline-table;
    min-height: 1%;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* 追加 04_02 */


