APP_PORT=3000
PMA_PORT=3001

DB_HOST=db
DB_ROOT_PASSWORD=password
DB_DATABASE=smartybook
DB_USER=user
DB_PASSWORD=password

# 普段は off にしておき、デバッグ時だけ debug にするとコンテナが軽くなります
XDEBUG_MODE=off
# 基本は host.docker.internal でOK（Linuxで古いDockerの場合はPCのIPを指定）
XDEBUG_CLIENT_HOST=host.docker.internal
# 他のプロジェクトと同時にデバッグしたい場合は、9004 などを指定してください
XDEBUG_PORT=9003
