# --- [ 厳格に場所を固定したいもの ] ---
# 1. 依存関係
/node_modules
/smartybook/vendor/
/xampp-linux/

# 2. 設定ファイル

# 3. 開発環境固有のファイル
/.make/
/results/
/selenium/results
/selenium/**/*.tmp
/tests/simpletest.xml
/**/templates_c/*.php

# --- [ どこにあっても無視したいもの ] ---
# IDE
.idea
.DS_Store
Thumbs.db

# 各種ツールのキャッシュ・設定
.php_cs.cache

# テスト・解析レポート
