# --- [ 厳格に場所を固定したいもの ] ---
# 1. 依存関係
/vendor/

# 2. 設定ファイル
/.env

# 3. 開発環境固有のファイル
/.make/
/tests/GoldenMaster/fixtures/actual/*
!/tests/GoldenMaster/fixtures/actual/.gitkeep
/**/templates_c/*.php

# --- [ どこにあっても無視したいもの ] ---
# IDE
.idea
.DS_Store
Thumbs.db

# 各種ツールのキャッシュ・設定
.php-cs-fixer.cache
.phpunit.result.cache

# テスト・解析レポート
