<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2'                    => true,
        'blank_line_before_return' => false,
        'function_typehint_space'  => true,
        'method_separation'        => true,
        'binary_operator_spaces'   => [
            'align_double_arrow' => true,
            'align_equals'       => true
        ],
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->exclude('centos6')
        ->exclude('selenium')
        ->exclude('smartybook/vendor')
        ->exclude('smartybook/smarty')
        ->exclude('smartybook/simpletest')
        ->exclude('%%*.php')
        ->exclude('xampp-linux')
        ->in(__DIR__)
    );
