parameters:
    phpVersion: 80000 # PHP 8.0
    level: 4
    paths:
        - smartybook
        - tests
    excludePaths:
        - */templates_c/*.php
        - lib
        - vendor
    treatPhpDocTypesAsCertain: false
includes:
    - ./phpstan-baseline.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
