parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter2/02_06.php

		-
			message: '#^Variable \$lastId might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter2/02_06.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_1/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_1/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_2/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_3/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_4/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_3_1/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_3_2/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_3_3/complete.php

		-
			message: '#^PHPDoc tag @param has invalid value \(array\)\: Unexpected token "\\n     \* ", expected variable at offset 48 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/CMS.php

		-
			message: '#^PHPDoc tag @param has invalid value \(integer\)\: Unexpected token "\\n     \* ", expected variable at offset 27 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/CMS.php

		-
			message: '#^PHPDoc tag @param has invalid value \(integer\)\: Unexpected token "\\n     \* ", expected variable at offset 51 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/CMS.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 26 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/CMS.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 74 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/CMS.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 97 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/CMS.php

		-
			message: '#^PHPDoc tag @param has invalid value \(array\)\: Unexpected token "\\n     \* ", expected variable at offset 48 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_6/SortNavigator.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 26 on line 2$#'
			identifier: phpDoc.parseError
			count: 5
			path: smartybook/chapter4_6/SortNavigator.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 49 on line 3$#'
			identifier: phpDoc.parseError
			count: 3
			path: smartybook/chapter4_6/SortNavigator.php

		-
			message: '#^PHPDoc tag @param has invalid value \(integer\)\: Unexpected token "\\n \* ", expected variable at offset 293 on line 10$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_9/modifier.mb_truncate.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n \* ", expected variable at offset 275 on line 9$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_9/modifier.mb_truncate.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n \* ", expected variable at offset 310 on line 11$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter4_9/modifier.mb_truncate.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter5_1/complete.php

		-
			message: '#^Call to an undefined method SmartyBook\\chapter5_3\\plib\\emoji\\Emoji\:\:convert_variables\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: smartybook/chapter5_3/plib/emoji/Emoji.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 2
			path: smartybook/chapter5_3/plib/emoji/Emoji.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter5_4/complete.php

		-
			message: '#^Variable \$admin might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/admin.php

		-
			message: '#^Variable \$categories might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/admin.php

		-
			message: '#^Variable \$home might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/admin.php

		-
			message: '#^Variable \$oAuth might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: smartybook/chapter5_5/admin.php

		-
			message: '#^Variable \$siteName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/admin.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$admin might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$categories might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$home might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$lastId might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$oAuth might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$siteName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Variable \$admin might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/confirm.php

		-
			message: '#^Variable \$categories might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/confirm.php

		-
			message: '#^Variable \$home might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/confirm.php

		-
			message: '#^Variable \$imageDir might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: smartybook/chapter5_5/confirm.php

		-
			message: '#^Variable \$oAuth might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: smartybook/chapter5_5/confirm.php

		-
			message: '#^Variable \$siteName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/confirm.php

		-
			message: '#^Variable \$categories might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/contents.php

		-
			message: '#^Variable \$csv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/contents.php

		-
			message: '#^Variable \$data might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/contents.php

		-
			message: '#^Variable \$home might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/contents.php

		-
			message: '#^Variable \$siteName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/contents.php

		-
			message: '#^Variable \$categories might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/index.php

		-
			message: '#^Variable \$csv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/index.php

		-
			message: '#^Variable \$data might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/index.php

		-
			message: '#^Variable \$home might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/index.php

		-
			message: '#^Variable \$siteName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/index.php

		-
			message: '#^Variable \$admin might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/login.php

		-
			message: '#^Variable \$home might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/login.php

		-
			message: '#^Variable \$siteName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: smartybook/chapter5_5/login.php

		-
			message: '#^Cannot access property \$message on array\.$#'
			identifier: property.nonObject
			count: 1
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php

		-
			message: '#^PHPDoc tag @param has invalid value \(array\)\: Unexpected token "\\n     \* ", expected variable at offset 70 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php

		-
			message: '#^PHPDoc tag @param has invalid value \(assoc\)\: Unexpected token "\\n     \* ", expected variable at offset 48 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 26 on line 2$#'
			identifier: phpDoc.parseError
			count: 2
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 49 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n     \* ", expected variable at offset 72 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php

		-
			message: '#^Variable \$CFG might not be defined\.$#'
			identifier: variable.undefined
			count: 15
			path: smartybook/chapter5_6/admin.php

		-
			message: '#^PHPDoc tag @param has invalid value \(integer\)\: Unexpected token "\\n \* ", expected variable at offset 293 on line 10$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/modifier.mb_truncate.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n \* ", expected variable at offset 275 on line 9$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/modifier.mb_truncate.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n \* ", expected variable at offset 310 on line 11$#'
			identifier: phpDoc.parseError
			count: 1
			path: smartybook/chapter5_6/modifier.mb_truncate.php

		-
			message: '#^Variable \$CFG might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: smartybook/chapter5_6/view.php
