parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter2/02_06.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_1/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_1/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_2/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_3/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_2_4/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_3_1/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_3_2/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter4_3_3/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter5_1/complete.php

		-
			message: '#^Call to an undefined method SmartyBook\\chapter5_3\\plib\\emoji\\Emoji\:\:convert_variables\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: smartybook/chapter5_3/plib/emoji/Emoji.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 2
			path: smartybook/chapter5_3/plib/emoji/Emoji.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter5_4/complete.php

		-
			message: '#^Call to function is_int\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: smartybook/chapter5_5/complete.php

		-
			message: '#^Cannot access property \$message on array\.$#'
			identifier: property.nonObject
			count: 1
			path: smartybook/chapter5_6/_read/classes/AppAmazon.php
