parameters:
    phpVersion: 80500 # PHP 8.5
    level: 6
    paths:
        - lib/PearStub
        - smartybook
        - tests
    excludePaths:
        - */templates_c/*.php
        - lib/pear-pear.php.net
        - vendor
    treatPhpDocTypesAsCertain: false
includes:
    - ./phpstan-baseline.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
