<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  backupGlobals="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory suffix="Test.php">smartybook/chapter5_3</directory>
    </testsuite>
  </testsuites>
</phpunit>
