@charset "utf-8";


#toppage {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin: 0 auto;
	text-align: left;
	width: 760px;
}

#entrypage {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin: 0 auto;
	text-align: left;
	width: 760px;
}

#page {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin: 0 auto;
	text-align: left;
	width: 760px;
}


#toppage #header {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-image: url(../images/top_norepeat_bk.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
}

#entrypage #header {
	margin: 0 0 0 0;
	padding: 7px 0 15px 11px;
	background-image: url(../images/page_title_bk.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
}

#intro {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	background-image: url(../images/top_main_img.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#main {
	position: relative;
	background-color: #eeeeee;
	margin: 0 0 0 0;
	padding: 10px 0 20px 20px;
	background-image: url(../images/page_footer.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#sideArea1{

}

#contents {

}

#footer {

}



/*
------------------------------- today css
*/




/*
------------------------------- new css
*/

/*
------------------------------- add css
*/
